/* Increase homepage name size */
h1 {
  font-size: 40px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 26px;
  font-weight: 600;
  margin-top: 2.2em;
  margin-bottom: 0.6em;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 1.6em;
  margin-bottom: 0.4em;
}

body {
  line-height: 1.7;
}

.navbar {
  font-size: 15px;
}


