/* Increase homepage name size */
h1 {
  font-size: 48px;
  margin-top: 0;
}

h2 {
  font-size: 32px;
  margin-top: 0;
}

body {
  font-family: Georgia, serif;
  max-width: 820px;
  margin: 0 auto;
  line-height: 1.7;
  font-size: 18px;
}

.navbar {
  font-size: 15px;
}

.navbar {
  font-size: 15px;
}